<strong>Recuperando Senha</strong>

<p>Uma solicitação de recuperação de senha foi solicitada para o email ({{ email }}).</p>

<p>Para continua coma solicitaçao utilize o token {{ token }} ou clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>
